<!DOCTYPE html>
<html lang="en">

<%- include('partails/head')%>

    <body id="page-top">

        <!-- Page Wrapper -->
        <div id="wrapper">

            <!-- Sidebar -->
            <%- include('partails/header')%>
                <!-- End of Sidebar -->


                <!-- Content Wrapper -->
                <div id="content-wrapper" class="d-flex flex-column">
                    <!-- Main Content -->
                    <div id="content">
                        <!-- Topbar -->
                        <%- include('partails/navbar')%>
                            <!-- End of Topbar -->

                            <!-- Begin Page Content -->
                            <div class="container-fluid">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="card shadow mb-4">
                                                <div class="card-header py-3">
                                                    <nav aria-label="breadcrumb">
                                                        <ol class="breadcrumb">
                                                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                                                            <li class="breadcrumb-item active" aria-current="page">Events</li>
                                                        </ol>
                                                    </nav>
                                                </div>
                                                <div class="card-body">
                                                    <div class="table-responsive">
                                                        <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                                            <div class="row">
                                                                <div class="col-lg-12 pb-3">
                                                                    <div>
                                                                        <div class="modal-body">
                                                                            <div class="row form-group">
                                                                                <div class="col-lg-12">
                                                                                    <label class="font-weight-bold pr-3 text-dark">Event & Notices : </label>
                                                                                    <div class="custom-control custom-radio custom-control-inline">
                                                                                        <input type="radio" id="radioNotice" name="event_notice" value="review" class="custom-control-input" checked>
                                                                                        <label class="custom-control-label" for="radioNotice">Notices</label>
                                                                                    </div>
                                                                                    <div class="custom-control custom-radio custom-control-inline">
                                                                                        <input type="radio" id="radioEvent" name="event_notice" value="event" class="custom-control-input">
                                                                                        <label class="custom-control-label" for="radioEvent">Event</label>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="row form-group">
                                                                                <div class="col-lg-6 col-md-12">
                                                                                    <label class="form-control-label">Title </label>
                                                                                    <input type="text" name="e_title" id="e_title" class="form-control" placeholder="title">
                                                                                </div>

                                                                            </div>
                                                                            <div class="row form-group event_option_disp">
                                                                                <div class="col-lg-6 col-md-12">
                                                                                    <label class="form-control-label">Date </label>
                                                                                    <input type="date" name="e_date" id="e_date" class="form-control" placeholder="title">
                                                                                </div>
                                                                                <div class="col-lg-6 col-md-12">
                                                                                    <label class="form-control-label">Time </label>
                                                                                    <input type="time" id="e_time" name="c_time" placeholder="time" class="form-control" />
                                                                                    <span></span>
                                                                                </div>
                                                                            </div>

                                                                            <div class="row form-group event_option_disp">
                                                                                <div class="col-lg-6 col-md-12">
                                                                                    <label class="form-control-label">Location </label>
                                                                                    <input type="text" name="e_addr" id="e_addr" class="form-control" placeholder="address">
                                                                                </div>
                                                                                <div class="col-lg-6 col-md-12">
                                                                                    <label class="form-control-label">City </label>
                                                                                    <input type="text" id="e_city" name="c_city" placeholder="city" class="form-control" />
                                                                                </div>
                                                                            </div>

                                                                            <div class="row form-group event_option_disp">
                                                                                <div class="col-lg-6 col-md-12">
                                                                                    <label class="form-control-label">State </label>
                                                                                    <input type="text" name="e_state" id="e_state" class="form-control" placeholder="state">
                                                                                </div>
                                                                                <div class="col-lg-6 col-md-12">
                                                                                    <label class="form-control-label">Pin Code </label>
                                                                                    <input type="text" id="e_pincode" name="c_pincode" placeholder="pincode" class="form-control" />
                                                                                </div>
                                                                            </div>

                                                                            <div class="row form-group">
                                                                                <div class="col-lg-12 col-md-12 col-sm-12">
                                                                                    <label>Description </label>
                                                                                    <textarea name="e_desc" id="e_desc" class="form-control" cols="30" rows="5" placeholder="writing..."></textarea>
                                                                                </div>
                                                                            </div>

                                                                            <div class="row form-group pt-3 pb-3 border">
                                                                                <div class="col-lg-2 col-md-4 col-sm-12">
                                                                                    <label>Upload Images</label>
                                                                                </div>
                                                                                <div class="col-lg-4 col-md-8 col-sm-12">
                                                                                    <input type="file" id="e_file" name="e_file" class="form-control-file" multiple disabled>
                                                                                </div>
                                                                            </div>
                                                                            <div class="row form-group mt-3">
                                                                                <div class="col-lg-3">
                                                                                    <button type="submit" id="add_event" class="btn btn-info form-control">SAVE</button>
                                                                                </div>
                                                                                <div class="col-lg-3">
                                                                                    <button type="submit" id="add_event_update" class="btn btn-success form-control" disabled>UPDATE</button>
                                                                                </div>

                                                                                <div class="col-lg-6">
                                                                                    <p class="font-weight-bold" id="messageTextEvent"></p>
                                                                                </div>
                                                                            </div>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-sm-12">
                                                                    <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                                                                        <thead>
                                                                            <tr role="row">
                                                                                <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Name: activate to sort column descending" aria-sort="ascending" style="width: 50px;">S.No</th>
                                                                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending">Type</th>
                                                                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending">Title</th>
                                                                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 350px;">Description</th>
                                                                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending">Date</th>
                                                                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending">Action</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <%
                                                                            let count = 0
                                                                            event_notices.forEach((en)=>{
                                                                                count = count + 1
                                                                                %>
                                                                                <tr role="row" class="odd">
                                                                                    <td class="sorting_1">
                                                                                        <%= count%>
                                                                                    </td>

                                                                                    <td class="text-capitalize">
                                                                                        <%= en.e_type%>
                                                                                    </td>
                                                                                    <td>
                                                                                        <%= en.e_title%>
                                                                                    </td>
                                                                                    <td class="text-justify">
                                                                                        <%= en.e_desc.slice(0,100)%>
                                                                                    </td>
                                                                                    <td>
                                                                                        <%
                                                                                           if(en.dated === null){%>
                                                                                            <span>********</span>
                                                                                            <% } else{%>
                                                                                                <%= en.dated%>
                                                                                                    <% }
                                                                                        %>
                                                                                    </td>
                                                                                    <td>
                                                                                        <button id="eEdit<%= en.id%>" onclick="return eEditFunc(`<%= en.id%>`)" class="btn btn-info btn-circle">
                                                                                            <i class="fas fa-pen"></i>
                                                                                        </button>
                                                                                        <button id="eDelete<%= en.id%>" onclick="return eDeleteFunc(`<%= en.id%>`)" class="btn btn-danger btn-circle ">
                                                                                            <i class="fas fa-trash "></i>
                                                                                        </button>
                                                                                    </td>
                                                                                </tr>
                                                                                <% })
                                                                            %>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                            <div class="row d-none">
                                                                <div class="col-sm-12 col-md-5 ">
                                                                    <div class="dataTables_info " id="dataTable_info " role="status " aria-live="polite ">Showing 1 to 10 of 50 entries</div>
                                                                </div>
                                                                <div class="col-sm-12 col-md-7 ">
                                                                    <div class="dataTables_paginate paging_simple_numbers " id="dataTable_paginate ">
                                                                        <ul class="pagination ">
                                                                            <li class="paginate_button page-item previous disabled " id="dataTable_previous "><a href="# " aria-controls="dataTable " data-dt-idx="0 " tabindex="0 " class="page-link ">Previous</a></li>
                                                                            <li class="paginate_button page-item active "><a href="# " aria-controls="dataTable " data-dt-idx="1 " tabindex="0 " class="page-link ">1</a></li>
                                                                            <li class="paginate_button page-item "><a href="# " aria-controls="dataTable " data-dt-idx="2 " tabindex="0 " class="page-link ">2</a></li>
                                                                            <li class="paginate_button page-item "><a href="# " aria-controls="dataTable " data-dt-idx="3 " tabindex="0 " class="page-link ">3</a></li>
                                                                            <li class="paginate_button page-item "><a href="# " aria-controls="dataTable " data-dt-idx="4 " tabindex="0 " class="page-link ">4</a></li>
                                                                            <li class="paginate_button page-item "><a href="# " aria-controls="dataTable " data-dt-idx="5 " tabindex="0 " class="page-link ">5</a></li>
                                                                            <li class="paginate_button page-item "><a href="# " aria-controls="dataTable " data-dt-idx="6 " tabindex="0 " class="page-link ">6</a></li>
                                                                            <li class="paginate_button page-item next " id="dataTable_next "><a href="# " aria-controls="dataTable " data-dt-idx="7 " tabindex="0 " class="page-link ">Next</a></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.container-fluid -->
                    </div>
                    <!-- End of Main Content -->

                    <!-- Footer -->
                    <footer class="sticky-footer bg-white">
                        <div class="container my-auto">
                            <div class="copyright text-center my-auto">
                                <span>Copyright &copy; Your dashboard 2021</span>
                            </div>
                        </div>
                    </footer>
                    <!-- End of Footer -->
                </div>
                <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->
        <%- include('partails/footer')%>

            <%- include('partails/foot')%>

    </body>

</html>