<!DOCTYPE html>
<html lang="en">

<%- include('../partails/head')%>

    <body>


        <!--/ Nav Star /-->
        <%- include('../partails/header')%>
            <!--/ Nav End /-->


            <!-- header for banner start -->
            <div class="image-wrap">
                <div class="img-content">
                    <img src="/public/img/training-banner.jpg" alt="">
                </div>
            </div>
            <!-- header for banner end -->

            <section class="section-services section-t8">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="title-wrap d-flex justify-content-between">
                                <div class="title-box">
                                    <h2 class="title-a">Technology</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <%
                        courses.forEach(c=>{%>
                            <div class="col-md-3 text-center mb-4">
                                <div class="img-tech-box">
                                    <a href="<%= c.urls%>" target="_blank">
                                        <div class="card">
                                            <div class="card-body">
                                                <img src="<%= c.img_url%>" class="img-fluid img-height">
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <% })
                        %>
                    </div>
                </div>
                </div>
            </section>
            <!--/ Services End /-->

            <!--/ footer Star /-->
            <%- include('../partails/footer')%>
                <!--/ Footer End /-->
                <%- include('../partails/foot')%>
    </body>

</html>