<!DOCTYPE html>
<html lang="en">

<%- include('../partails/head')%>

    <body>


        <!--/ Nav Star /-->
        <%- include('../partails/header')%>
            <!--/ Nav End /-->

            <!--/ Carousel Star /-->
            <!-- header for banner start -->
            <div class="image-wrap">
                <div class="img-content">
                    <img src="/public/img/banner.jpg" alt="">
                </div>
            </div>
            <!-- header for banner end -->

            <section class="section-services section-t4">
                <div class="container">
                    <div class="row justify-content-between">
                        <div class="col-lg-12 col-md-12 col-sm-12 ">
                            <h1 class="font-weight-bold text-center pb-5" style="color:#0096a3;">Chetu Skill Center Event</h1>
                        </div>

                        <%
                        evt_n.forEach(e=>{
                            if(e.e_type === 'event'){
                                let vanue = JSON.parse(e.e_vanue)
                                var images = e.e_imgs
                                images = images.split('~')
                                %>
                            <div class="row p-3 event_title_bx mb-3">
                                <div class="col-lg-5">
                                    <div class="img_bx pb-2">
                                        <img src="<%= images[0]%>" alt="alt" class="img-responsive">
                                    </div>
                                </div>
                                <div class="col-lg-1"></div>
                                <div class="col-lg-6">
                                    <h1 class="h3 text-dark pb-3">Chetu skill center event title</h1>
                                    <span class="text-info font-weight-bold"><%= e.e_date%> ,</span>

                                    <p class="pt-3 text-justify">
                                        <%= e.e_desc%>
                                    </p>

                                    <h4 class="h5 text-secondary pb-2 pt-1">Event Vanue</h4>
                                    <p><b>Address :</b>
                                        <%=vanue.addr%> <span><%=vanue.city%></span><br> <span class="text-capitalize"><%=vanue.state%> <%=vanue.pincode%></span></p>
                                </div>
                            </div>
                            <% }
                        })
                        %>

                    </div>

                    <div class="row">
                        <div class="col-md-12 section-t8">
                            <div class="row justify-content-between">
                                <div class="col-md-6 col-lg-6 col-sm-12">
                                    <h4 style="color:#000; font-size:30px;font-weight:600;">Latest Notification</h4><br>

                                    <ol>
                                        <%
                                        evt_n.forEach(n=>{
                                            if(n.e_type === 'notice'){%>
                                            <li class="p-2" style="color:#f00; font-size:18px;font-weight:600; cursor: pointer;"><span><%= n.e_desc%></span></li>
                                            <%}
                                        })
                                        %>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
            </section>
            <!--/ Services End /-->

            <!--/ footer Star /-->
            <%- include('../partails/footer')%>
                <!--/ Footer End /-->
                <%- include('../partails/foot')%>
    </body>

</html>